<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Grid_Pdf_Export</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                Basic Excel Export
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="changing filename">
                Changing Filename
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="headercell customization">
                Headercell Customization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="headerfooter">
                Add Header and Footer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="row customization">
                Row Customization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="column customization">
                Column Customization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cell customization">
                Cell Customization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datasource customization">
                Datasource Customization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="groupcation customization">
                Groupcation Customization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aggregate customization">
                Aggregate Customization
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
